<div class="jumbotron  container-fluid">
    <h1 style="text-align: center"><b>My Tickets</b></h1></div>
<div class="row">
<div class="col-xs-1"></div>
<div class="col-xs-3">
    <button class="btn btn-danger button2" ng-click="logout()">Logout</button>
</div>
<div class="col-xs-1"></div>
<div class="col-xs-3">
    <button class="btn btn-success button2" type="button" ng-click="viewNew()">New Tickets</button> 
</div>
<div class="col-xs-1"></div>
<div class ="col-xs-3" >
	<button class ="btn btn-success button2" type ="button" ng-click="viewReport()">Reports</button>
</div>
</div>
 <div ng-controller="HomeController">&nbsp;</div>
<br />
    
    <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                       
                                        <th style="text-align: center" margin:"auto";>Issue Id</th>
                                        <th style="text-align: center" margin:"auto";>Phone Number</th>
                                        <th style="text-align: center" margin:"auto";>Issue</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="myIssue in myIssues">
                                       
                                        <td ng-click="goToTicket(myIssue.issueId)">
                                            <div style="text-align: center" margin: "auto";>{{myIssue.issueId}}</div></td>
                                        <td>
                                            <div>{{myIssue.phoneNumber}}</div></td>
                                        <td>
                                            <div>{{myIssue.issue |limitTo: issueLimit}}...</div></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
