<div class="jumbotron  container-fluid">
    <h1 style="text-align: center"><b>My Tickets</b></h1></div>

<div class="alert alert-danger alert-dismissable" ng-show="myIssueFailure == true">
    <a class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>ERROR!</strong>
    <p>{{myIssueError}}</p>
</div>
 <div ng-controller="HomeController">&nbsp;</div>
<br />
    <div class="container">
    <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                       
                                        <th style="text-align: center" margin:"auto";>Issue Id</th>
                                        <th style="text-align: center" margin:"auto";>Phone Number</th>
                                        <th style="text-align: center" margin:"auto";>Issue</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="myIssue in myIssues">
                                       
                                        <td ng-click="goToTicket(myIssue.issueId)">
                                            <div style="text-align: center" margin: "auto";><span class = "glyphicon glyphicon-ok" ng-show="myIssue.status == 2"></span>{{myIssue.issueId}}</div></td>
                                        <td>
                                            <div>{{myIssue.phoneNumber}}</div></td>
                                        <td>
                                            <div>{{myIssue.issue |limitTo: issueLimit}}...</div></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
</div>