<h1><b>NewTickets</b></h1>
<table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                       
                                        <th>Issue Id</th>
                                        <th>Phone Number</th>
                                        <th>Issue</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="issueDetail in issueDetails">
                                       
                                        <td ng-click="goToIssue(issueDetail.issueId)">
                                            <input type="text" class="form-control" ng-model="issueDetail.issueId" required/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="issueDetail.phoneNumber" required/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="issueDetail.issue" required/></td>
                                        <td>
                                        <input type="text" class="form-control" ng-model="issueDetail.status" requtred/></td>
                                    </tr>
                                </tbody>
                            </table>